:root {
  --primary-color: #8a4af3;
  --secondary-color: #191919;
}

body {
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, a{
  margin-bottom: 0;
}

.topnav-cart .btn-cart {
  font-size: 30px;
  color: var(--primary-color);
  position: relative;
  transition: .3s;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.topnav-cart .btn-cart span {
  font-size: 15px;
  font-weight: 800;
  height: 100%;
  display: flex;
  align-items: center;
}
.topnav-cart .btn-cart:hover {
  color: var(--secondary-color);
}

nav.navbar {
  background-color: #fff;
}

nav.navbar .navbar-nav .nav-item .nav-link {
  font-weight: 700;
  font-size: 0.8em;
}

.navbar-toggler {
  border: none;
}

.banner-bg {
  background-image: url('public/panel.webp');
  height: 500px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-bg h1 {
  font-weight: 700;
  color: #fff;
  font-size: 4em;
}

.banner-bg .btn.btn_shopnow {
  background-color: #fff;
  font-size: 1.4em;
  font-weight: 700;
  color: var(--secondary-color);
  border-radius: 0;
  border: none;
  padding: .5em 1.8em;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.product-carrousel a.card {
  border: none;
  margin: 1em 0;
  cursor: pointer;
}

section.product-carrousel a {
  text-decoration: none;
  color: var(--secondary-color);
}

section.product-carrousel a.card .card-name {
  font-size: .8em;
}
section.product-carrousel a.card .card-price {
  font-size: 1em;
  font-weight: 700;
  text-decoration: none;
}

/* Media Querys */

@media only screen and (min-width: 320px) {}


@media only screen and (min-width: 321px) {}


@media only screen and (min-width: 375px) {}


@media only screen and (min-width: 411px) {}


@media only screen and (min-width: 568px) {}


@media only screen and (min-width: 768px) {
  nav.navbar .navbar-nav .nav-item .nav-link {
    font-size: 1em;
  }
}

@media only screen and (min-width: 1024px) {}


@media only screen and (min-width: 1200px) {
  nav.navbar .navbar-nav .nav-item .nav-link {
    padding: 0 1em;
  }
}

@media only screen and (min-width: 1400px) {
  nav.navbar .navbar-nav .nav-item .nav-link {
    padding: 0 1.2em;
  }

  .banner-bg {
    height: 600px;
  }
}

@media only screen and (min-width: 1920px) {
  nav.navbar .navbar-nav .nav-item .nav-link {
    padding: 0 1.5em;
  }

  .banner-bg {
    height: 900px;
  }
}